/* reset */
p,
h3,
figure {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

.txt-hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow-y: hidden;
}

/* scroll bar */
/* width */
.list-select::-webkit-scrollbar {
    width: 4px;
    height: 79px;
}

/* Track */
.list-select::-webkit-scrollbar-track {
    background: #EAE8FE;
}

/* Handle */
.list-select::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 50px;
}

/* Handle on hover */
.list-select::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

/* layout */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.wrapper {
    margin-top: 67px;
    margin-bottom: 171px;
    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 50px 474px;
    column-gap: 28px;
    row-gap: 20px;
}

.wrapper-image {
    width: 386px;
}

.wrapper-drink {
    background-color: #fff;
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wrapper-cash {
    background-color: #fff;
    /* padding: 9px 27px; */
    box-sizing: border-box;
}

.wrapper-price {
    background-color: #fff;
    padding: 0 27px;
    box-sizing: border-box;
}

/* drink */
/* 상단 */
.list-drink {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 12px;
}

.drink {
    background-color: gray;
    /* width: 94px; */
}

/* 하단 */
.description-drink {
    background-color: antiquewhite;
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(3, 1fr); */
}

/* --balance-- */
.form-balance {
    display: flex;
    justify-content: space-between;
}

#balance {
    border: 0;
    background-color: #EAE8FE;
}

.text-balance {
    display: flex;
    justify-content: space-between;
    background-color: #EAE8FE;
    width: 200px;
}

/* --cash-- */
.form-cash {
    display: flex;
    justify-content: space-between;
}

/* --select-- */
.form-select {
    display: flex;
    justify-content: space-between;
}

.list-select {
    background-color: #EAE8FE;
    overflow-y: scroll;
    width: 200px;
    height: 106px;
}

.button-select {
    background-color: #6327FE;
    border: 0;
    color: #fff;
    width: 94px;
    height: 106px;
    cursor: pointer;
}

/* cash */
.cash {
    background-color: #EAE8FE;
    width: 306px;
    height: 32px;
    margin: 9px 27px;
}

/* price */
.img-price {
    background-color: #EAE8FE;
    width: 306px;
    height: 364px;
}