.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    justify-content: center;
}

.wrapper {
    margin-top: 67px;
    margin-bottom: 171px;
    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: repeat(2, 360px);
    column-gap : 28px;
    row-gap: 20px;
}

.wrapper-image {
    /* display: block; */
    width: 360px;
}

.wrapper-menu {
    background-color: brown;
    grid-area: 1 / 1 / 3 / 2;
    width: 360px;

}

.wrapper-money {
    background-color: blueviolet;
    width: 360px;

}

.wrapper-price {
    background-color: beige;
    width: 360px;

}