*,
body {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.ir {
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* layout */
body {
  background-color: #eae8fe;
}

#app .app-title {
  margin: 0 auto;
  width: 386px;
  height: 180px;
}

#app .app-title img {
  width: 100%;
  height: 100%;
}

#app .main-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 67px;
  gap: 28px;
}

#app .vending-machine,
#app .my-info {
  flex-basis: 360px;
}

/* 벤딩머신 */
#app .vending-machine {
  padding: 31px 27px 28px 27px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list-drink {
  display: grid;
  grid-template-columns: repeat(3, 94px);
  grid-template-rows: repeat(2, 130px);
  column-gap: 12px;
  row-gap: 12px;
  margin: 0 auto;
}

.drink {
  text-align: center;
}

.button-drink {
  width: 94px;
  height: 130px;
  background-color: #fff;
  border: 0;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}

.img-drink {
  width: 35px;
  height: 64px;
  padding-right: auto;
}

.name-drink {
  display: block;
  font-size: 9px;
  font-weight: 500;
  margin-top: 7px;
}

.price-drink {
  display: block;
  background-color: #6327fe;
  border-radius: 50px;
  width: 70px;
  height: 22px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  margin: 7px auto 0;
}

.description-drink {
  display: grid;
  grid-template-columns: 200px 94px;
  grid-template-rows: 32px 32px 106px;
  column-gap: 12px;
  row-gap: 12px;
  margin: 0 auto;
}

/* 구매 관련 정보 */

/* 소지금 */
.my-info .my-cont-cash {
  background-color: #fff;
  padding: 9px 27px;
  margin-bottom: 20px;
}

.my-cont-cash .text-cash {
  background-color: #eae8fe;
  border-radius: 5px;
  padding: 6px 10px;
  line-height: 20px;
  font-size: 14px;
}

.text-cash .num-cash {
  font-weight: 700;
  float: right;
}

/* 획득한 음료 */
.my-info .my-cont-item {
  background-color: #fff;
  padding: 25px 27px 26px;
}

.text-balance {
  display: flex;
  justify-content: space-between;
  background-color: #eae8fe;
  width: 200px;
  border-radius: 5px;
  padding: 5px 10px;
}

.button-balance {
  width: 94px;
  height: 33px;
  background-color: #fff;
  border: 0;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.title-balance {
  font-size: 14px;
  line-height: 25px;
}

.num-balance {
  padding-left: 90px;
}

.form-select {
  display: flex;
  justify-content: space-between;
}

.list-select {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #eae8fe;
  overflow-y: scroll;
  width: 200px;
  height: 106px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.button-select {
  background-color: #6327fe;
  border: 0;
  border-radius: 5px;
  color: #fff;
  width: 94px;
  height: 106px;
  cursor: pointer;
}

.img2-drink {
  width: 18px;
  height: 33px;
}

.name2-drink {
  line-height: 46px;
  font-size: 9px;
}

.count-drink {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.box-select {
  display: flex;
  background-color: #fff;
  width: 170px;
  height: 46px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin: 3px;
}

/* cash */

.input-cash {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: 200px;
  color: #bdbdbd;
  font-size: 13px;
}

/* price */
.get-drink {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  margin: 13px 0;
}

.total-price {
  background-color: #eae8fe;
  width: 306px;
  height: 364px;
  overflow-y: scroll;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.total-price ul {
  display: flex;
  flex-direction: column;
  column-gap: 6px;
  margin: 12px;
}

.total-price ul li {
  width: 276px;
}

.text-price {
  font-family: inherit;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 500;
  margin-top: 6px;
}

/* 반응형 */
@media only screen and (max-width: 768px) {
  body {
    background-color: #fff;
  }
  .main-wrapper {
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    gap: 0;
  }
}
